body {
  background-image: url('images/hny1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color:#464646;
  background-size: 100%;
}

h1{
  text-align: center;
  padding:  20%;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
  font-family: 'ABeeZee';
}

@media only screen and (max-width: 767px) {
  body {
    background-image: url(images/mobile-bg.jpg);
  }
	  h1{
      font-size:1.5rem;
  }
	}
