body {
  background-image: url('hny1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100%;
}

h1{
  text-align: center;
  padding:  20%;

}
