body {
  background-image: url('images/hny1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color:#464646;
  background-size: 100%;
  text-align: center;
}

h1{
  text-align: center;
  padding:  20%;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
  font-family: 'ABeeZee';
}

.hny{
    background-image: url(https://i.gifer.com/4A5.gif);
      color:  #ff4c68;
}

@media only screen and (max-width: 767px) {
  body {
    background-image: url(images/mobile-bg.jpg);

  }
  h1{
      font-size: 2rem;
	padding:  50% 20%;  
	  
  }
	}
